{
  "tabWidth": 2,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "(^models/(.*)$|models)",
    "(^controllers/(.*)$|controllers)",
    "(^routes/(.*)$|routes)",
    "(^middlewares/(.*)$|middlewares)",
    "(^errors/(.*)$|errors)",
    "(^settings/(.*)$|settings)",
    "^[./]"
  ]
}